<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DCU.Framework" version="2.0.0" targetFramework="net471" />
  <package id="DCU.Utils" version="2.2.31" targetFramework="net471" />
  <package id="IBM.Data.DB2" version="9.7.4.4" targetFramework="net471" />
  <package id="IdentityModel" version="3.10.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net471" />
  <package id="System.DirectoryServices" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net471" />
</packages>